AI News Aggregator (1).json
{
  "name": "AI News Aggregator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1f4dbabe-2127-4b5d-9c65-8881d3626f6b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=artificial+intelligence&sortBy=publishedAt&language=en&pageSize=2&apiKey=API_KEY",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "2c46263f-2075-408b-b2d1-62584c8bc35f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const articles = $json.articles;\n\nreturn articles.map(article => {\n  return {\n    json: {\n      title: article.title,\n      description: article.description,\n      url: article.url,\n      source: article.source.name\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "797a9d05-2338-4473-ba13-637a1c385012",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize this AI news article professionally.\n\nRules:\n- Maximum 3 bullet points\n- No markdown symbols\n- No stars (*)\n- No headings\n- Simple readable language\n- Keep each bullet short\n\nTitle: {{$json.title}}\n\nDescription: {{$json.description}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "9bdba8ab-b52f-42fd-b3c7-65b6c964a3df",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "PhwvinOd7kCkhtCl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let output = `\n<html>\n<body style=\"\n  font-family: Arial, sans-serif;\n  background:#f4f4f4;\n  padding:30px;\n\">\n\n<h1 style=\"\n  color:#4F46E5;\n  text-align:center;\n  margin-bottom:40px;\n\">\n🤖 Daily AI News Digest\n</h1>\n`;\n\nfor (const item of items) {\n\n  // Get Gemini summary\n  let summary = item.json.content.parts[0].text;\n\n  // Get article URL\n  const url = item.json.url;\n\n  // Remove markdown formatting\n  summary = summary\n    .replace(/\\*\\*/g, \"\")\n    .replace(/\\*/g, \"\")\n    .replace(/#/g, \"\");\n\n  // Split into lines\n  const lines = summary\n    .split(\"\\n\")\n    .filter(line => line.trim() !== \"\");\n\n  // Create bullet list\n  let formatted = \"<ul style='padding-left:20px;'>\";\n\n  for (const line of lines) {\n\n    formatted += `\n      <li style=\"\n        margin-bottom:12px;\n        color:#374151;\n        font-size:16px;\n        line-height:1.6;\n      \">\n        ${line}\n      </li>\n    `;\n  }\n\n  formatted += \"</ul>\";\n\n  // Create news card\n  output += `\n  \n  <div style=\"\n    background:white;\n    padding:25px;\n    border-radius:14px;\n    margin-bottom:25px;\n    box-shadow:0 2px 10px rgba(0,0,0,0.08);\n  \">\n\n    <h2 style=\"\n      color:#111827;\n      margin-bottom:15px;\n    \">\n      📰 AI News Summary\n    </h2>\n\n    ${formatted}\n\n    <a href=\"${url}\" target=\"_blank\"\n      style=\"\n        display:inline-block;\n        margin-top:10px;\n        color:#2563EB;\n        text-decoration:none;\n        font-weight:bold;\n      \">\n      Read Full Article →\n    </a>\n\n  </div>\n  `;\n}\n\n// Closing HTML\noutput += `\n</body>\n</html>\n`;\n\n// Return final email\nreturn [\n  {\n    json: {\n      emailContent: output\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "7ce4cae1-4ea3-4b97-81f0-280989dc7456",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "pavankumargr1904@gmail.com",
        "subject": "= Daily AI News Digest | {{$now.format('DD MMM YYYY')}}",
        "message": "={{$json.emailContent}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        0
      ],
      "id": "97abc0ea-715e-4ec6-a2f3-fd0a24f137d7",
      "name": "Send a message",
      "webhookId": "dfed2ba0-8b03-4f16-bd47-73b51e9ff295",
      "credentials": {
        "gmailOAuth2": {
          "id": "f69Qcu3UtQhFuZp1",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "14b3d4b6-2984-4c84-a2ee-879fe1b2c3bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "72850af799715d3440922a74b09cad4996efa3854a3b3757aaad87b5270bd623"
  },
  "id": "cwsuhBNUerNmb1RG",
  "tags": []
}
